/*Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f8e3e3;
  /* Rojo muy claro */
  color: #2b1a1b;
}

/*Todos los títulos de la web*/
#titulo {
  color: hwb(357 7% 62%);
  /*Bordo*/
  text-align: center;
  font-family: "pacifico", cursive;
  /*Letra en cursiva*/
  font-size: 5rem;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* Sombra suave para resaltar */
}

/*Banner de Hot Sale*/
.banner {
  display: block;
  background-color: #800020;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.6rem 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.bg-rosa {
  background-color: #f8e3e3 !important;
}

.bg-bordo {
  background-color: #800020 !important;
}

.btn-outline-bordo {
  color: #800020;
  border-color: #800020;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.btn-outline-bordo:hover {
  background-color: #800020;
  color: white;
  border-color: #800020;
}

.portada {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  /*Margen arriba y abajo*/
}

.portada img {
  width: 100%;
  /*Ocupa todo el ancho*/
  height: auto;
}

/*Seguinos en Redes*/
.seguinos {
  color: #535151;
}

/* Colores de Instagram MAIN*/
.icono-instagram {
  color: #ac2bac;
}

.fondo-instagram {
  background-color: #ac2bac;
  color: white;
}

/* Colores de Facebook MAIN*/
.icono-facebook {
  color: #3b5998;
}

.fondo-facebook {
  background-color: #3b5998;
  color: white;
}

/*Articulos en Venta*/
.articulos-titulo { 
    color: hwb(357 7% 62%) !important;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

/*Imagenes Articulos */
.card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover; /* Recortar sin deformar */
    border-radius: 10px;
}

/* Texto de Articulos */
.card-title {
    color: #800020 !important;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/*Precio de Articulo*/
.card-text.fw-bold {
    color: #333; 
    margin: 0.5rem 0;
}

.btn-outline-bordo:hover {
    background-color: #800020 !important;
    color: white;
    border-color: #800020;
}

article button:hover {
  background-color: hwb(357 7% 62%) !important;
}


@media (max-width: 768px) {
  #titulo {
    font-size: 3rem;
    /* Reducir el tamaño de título */
  }

  .banner {
    font-size: 1rem;
  }

  .portada img {
    width: 100%;
  }
}

/*Ajuste Responsive para teléfonos*/
@media (max-width: 380px) {
  #titulo {
    font-size: 2.5rem;
    padding-top: 10px;
  }

  .banner {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  .articulos {
    text-align: center;
    padding: 0 10px;
  }

  article {
    width: 95%;
    margin: 1rem auto;
    /* Centrar el artículo */
  }

  article img {
    height: 200px;
  }

  .footer p {
    font-size: 0.9rem;
  }
}


/*Ajuste Responsive para Tablets*/
@media (max-width: 800px) {
  #titulo {
    font-size: 4rem;
  }

  .banner {
    font-size: 1rem;
  }

}

/* Ajuste Responsive Escritorio */
@media (min-width: 1440px) {
  #titulo {
    font-size: 5rem;
  }
}