@use "variables/colors" as *;
@use "variables/mixins" as *;
@use "variables/extend" as *;
@use "layout/header" as *;

// Base reset para responsive
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


