$colorBordo: hwb(357 7% 62%);
$colorRojoClaro: #f8e3e3;
$colorBordoOscuro: #2b1a1b; 
$colorSombraNegra: rgba(0, 0, 0, 0.2);
$colorBordoClaro: #800020;
$colorBlanco: white;
$colorGris: #535151;
$colorRosa: #ac2bac;
$colorCeleste: #3b5998;


