@use "./colors";

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin btn-bordo($bg: $colorBordoClaro, $color: $colorBlanco) {
  background-color: $bg;
  color: $color;
  border-radius: 8px;
  border: 1px solid $bg;
  padding: 0.5rem 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

   &:hover {
    background-color: $color;
    color: $bg;
  }
}