@use "../variables/colors" as *;
@use "../variables/extend" as *;
@use "../variables/mixins" as *;

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif !important;
    background-color: $colorRojoClaro;
    color: $colorBordoOscuro;
}

/*Todos los títulos de la web*/
.titulo {
    width: 100%;
    margin: 1rem 0 2rem 0 important!;
    padding: 0;
    color: $colorBordo;
    text-align: center;
    font-family: "pacifico", cursive !important;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px $colorSombraNegra;
    line-height: 1.2;
    margin-bottom: 2rem !important;

    //Tamaño para TABLET/PC//
@media (min-width: 768px) {
    font-size: 5rem;
    margin: 2.5rem 0;
}
}

/*Banner de Hot Sale*/
.banner {
  width: 100%;
  background-color: $colorBordoClaro;
  display: flex;
  padding: 0.3rem 0;
}

.banner-texto {
  margin: 0;
  color: $colorBlanco;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  padding-left: 20%;
animation: scroll-text 15s linear infinite;
width: max-content;

//Tamaño para TABLET/PC//

}

@keyframes scroll-text {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.bg-rosa {
    background-color: $colorRojoClaro !important;
}

.bg-bordo {
    background-color: $colorBordoClaro !important;
}

.btn-outline-bordo {
    @extend %btn-base;
    color: $colorBordoClaro;
    border: 1px solid $colorBordoClaro;
    background-color: transparent;

 &:hover {
    background-color: $colorBordoClaro;
    color: $colorBlanco;
    border-color: $colorBordoClaro;
        box-shadow: 0 4px 6px $colorSombraNegra;
}
}

.portada {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    /*Margen arriba y abajo*/
    img {
        width: 100%;
        /*Ocupa todo el ancho*/
        height: auto;
    }
}