@use "../variables/colors" as *;
@use "../variables/extend" as *;
@use "../variables/mixins" as *;

.seguinos-titulo {
    font-family: 'Pacifico', cursive !important;
    text-align: center;
    color: $colorBordo; 
    font-size: 2rem;
    margin-bottom: 2rem;
}

.redes-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; 

    //Para DESKTOP//
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }
}

.redes-item {
    display: flex; 
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba($colorBlanco, 0.5);
    border-radius: 10px;
    transition: transform 0.3s;

    &:hover {
        transform: translateY(-5px);
    }
    
    .icono-social {
        font-size: 1.8rem;
        &.inst { color: #E1306C; } 
        &.face { color: #1877F2; } 
    }
}

.redes-link {
    font-family: 'Open Sans', sans-serif;
    color: $colorBordoOscuro;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

//Listado de Productos//
.articulos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding-bottom: 3rem;

    // En Desktop //
    @media (min-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

.producto {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    border: 1px solid rgba(0,0,0,0.05);
    height: 100%;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    img {
        width: 100%;
        height: 250px; 
        object-fit: cover; 
        border-radius: 5px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 5px;
        color: #333;
    }

    p {
        font-size: 1.1rem;
        color: $colorBordo;
        font-weight: 800;
        margin-bottom: 15px;
    }

    .btn-outline-bordo {
        font-size: 0.8rem;
        padding: 8px 5px;
        margin-top: auto !important; 
    }
}

.titulo-articulos {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $colorBordo;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    position: relative;
    display: block;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 3px;
        background-color: $colorRojoClaro;
        margin: 10px auto 0;
    }

    @media (max-width: 768px) {
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
}